
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: #ffffff;
    padding: auto;
    font-size: 8px;

    @media only screen and (min-width: 481px) {
        font-size: 16px;
    }
}

body {
    margin: 0;
    background-color: #F5F5DC;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#container {
    position: relative;
}

.flag {
    display: grid;
    height: 25rem;
    grid-template-columns: 47.5rem;
    grid-template-rows: repeat(13, 1.923rem);
}

.red {
    background-color: #bb133e;
}

.white {
    background-color: #ffffff;
}

.square {
    width: 19rem;
    height: 13.463rem;
    background-color: #002147;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(11, 1.575rem);
    grid-template-rows: repeat(8, 1.35rem);
    padding-top: 0.5rem;
    padding-left: 0.75rem;

}

img {
    position: absolute;
    width: 1.54rem;
    height: 1.54rem;
}

